{% extends 'base.html' %}
{% block content %}

<!--Company Search-->
<div class="d-flex justify-content-center col-12">
    <form method="POST" class="d-flex">
        {{ form.hidden_tag() }}
        <div class="input-group me-2">
            {{ form.company_search(class="form-control col-12 py-2 text-center", placeholder="Search Company") }}
        </div>
        <div>
            {{ form.submit_company(class="btn btn-primary") }}
        </div>
    </form>
</div>

<!--Results of Companies-->

<div class="container mt-4">
    <h2>Results Of Companies</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for company in companies %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body rounded-2">
                    <h5 class="card-company">{{ company["company"] }}</h5>
                    <p class="card-title">{{ company.title }}</p>
                    <a href="#" class="btn btn-primary btn-sm">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
